{% extends 'templates/default.njk' %}

{% block main %}
  <div class="Chapter" id="C7L10">
    <canvas id="scene"></canvas>
  </div>
  <div class="hud">
    <input type="checkbox" id="checkbox" class="js-checkbox"> <label for="checkbox">POLYGON_OFFSET_FILL</label>
  </div>
{% endblock %}
