{% extends 'templates/default.njk' %}

{% block main %}
  <div class="Chapter" id="C7L5">
  <canvas id="scene"></canvas>

  <div class="hud">
    Near:  <span class="js-near"></span>
    <br>
    Far:  <span class="js-far"></span>
  </div>
  </div>
{% endblock %}
