<div class="container">
  <div class="row">
    <h1>WebGL Programming Guide</h1>
    <br>
    <h3>Chapter 2 - Your First Step with WebGL</h3>
    <hr>
    <ul>
      <li><a href="/lessons/C2L1" class="button hover-cyan">Lesson 1 - HelloCanvas</a></li>
      <li><a href="/lessons/C2L2" class="button hover-cyan">Lesson 2 - HelloPoint</a></li>
      <li><a href="/lessons/C2L3" class="button hover-cyan">Lesson 3 - HelloPoint2</a></li>
      <li><a href="/lessons/C2L4" class="button hover-cyan">Lesson 4 - ClickedPoints</a></li>
    </ul>
  </div>
</div>
