{% extends 'templates/default.njk' %}

{% block main %}
<div class="container">
  <div class="row">
    <h1>WebGL Programming Guide</h1>
    <hr>
    <br>
    <h3>Chapter 2 - Your First Step with WebGL</h3>
    <hr>
    <ul>
      <li><a href="/lessons/C2L1" class="button hover-cyan">Lesson 1 - HelloCanvas</a></li>
      <li><a href="/lessons/C2L2" class="button hover-cyan">Lesson 2 - HelloPoint</a></li>
      <li><a href="/lessons/C2L3" class="button hover-cyan">Lesson 3 - HelloPoint2</a></li>
      <li><a href="/lessons/C2L4" class="button hover-cyan">Lesson 4 - ClickedPoints</a></li>
      <li><a href="/lessons/C2L5" class="button hover-cyan">Lesson 5 - ColoredPoints</a></li>
    </ul>
    <h3>Chapter 3 - Drawing and transforming triangles</h3>
    <ul>
      <li><a href="/lessons/C3L1" class="button hover-cyan">Lesson 1 - MultiPoints</a></li>
      <li><a href="/lessons/C3L2" class="button hover-cyan">Lesson 2 - HelloTriangle</a></li>
      <li><a href="/lessons/C3L3" class="button hover-cyan">Lesson 3 - HelloQuad</a></li>
      <li><a href="/lessons/C3L4" class="button hover-cyan">Lesson 4 - TranslatedTriangle</a></li>
      <li><a href="/lessons/C3L5" class="button hover-cyan">Lesson 5 - RotatedTriangle</a></li>
      <li><a href="/lessons/C3L6" class="button hover-cyan">Lesson 6 - RotatedTriangle (Transform Matrices)</a></li>
      <li><a href="/lessons/C3L7" class="button hover-cyan">Lesson 7 - Rotated + Translated Triangle (Transform Matrices)</a></li>
      <li><a href="/lessons/C3L8" class="button hover-cyan">Lesson 8 - Scaled Triangle (Transform Matrices)</a></li>
    </ul>
    <h3>Chapter 4 - More transformations and Basic Animation</h3>
    <ul>
      <li><a href="/lessons/C4L1" class="button hover-cyan">Lesson 1 - Using Model Matrix</a></li>
      <li><a href="/lessons/C4L2" class="button hover-cyan">Lesson 2 - RotatingTriangle (Simple animation)</a></li>
      <li><a href="/lessons/C4L3" class="button hover-cyan">Lesson 3 - </a></li>
    </ul>

  </div>
  <br>
  <br>
  <br>
  <h1>Book of Shaders</h1>
  <hr>
  <br>
  <h3>Shapes</h3>
  <ul>
    <li><a href="/lessons/bos/circle" class="button hover-cyan">Circle</a></li>
  </ul>

</div>
{% endblock %}
