{% extends 'templates/default.njk' %}

{% block main %}
<div class="container">
  <div class="row">
    <h1>WebGL Programming Guide</h1>
    <hr>
    <br>
    <h3>Chapter 2 — Your First Step with WebGL</h3>
    <hr>
    <ul>
      <li><a href="/lessons/C2L1" class="button hover-cyan">Lesson 1 — HelloCanvas</a></li>
      <li><a href="/lessons/C2L2" class="button hover-cyan">Lesson 2 — HelloPoint</a></li>
      <li><a href="/lessons/C2L3" class="button hover-cyan">Lesson 3 — HelloPoint2</a></li>
      <li><a href="/lessons/C2L4" class="button hover-cyan">Lesson 4 — ClickedPoints</a></li>
      <li><a href="/lessons/C2L5" class="button hover-cyan">Lesson 5 — ColoredPoints</a></li>
    </ul>
    <h3>Chapter 3 — Drawing and transforming triangles</h3>
    <ul>
      <li><a href="/lessons/C3L1" class="button hover-cyan">Lesson 1 — MultiPoints</a></li>
      <li><a href="/lessons/C3L2" class="button hover-cyan">Lesson 2 — HelloTriangle</a></li>
      <li><a href="/lessons/C3L3" class="button hover-cyan">Lesson 3 — HelloQuad</a></li>
      <li><a href="/lessons/C3L4" class="button hover-cyan">Lesson 4 — TranslatedTriangle</a></li>
      <li><a href="/lessons/C3L5" class="button hover-cyan">Lesson 5 — RotatedTriangle</a></li>
      <li><a href="/lessons/C3L6" class="button hover-cyan">Lesson 6 — RotatedTriangle (Transform Matrices)</a></li>
      <li><a href="/lessons/C3L7" class="button hover-cyan">Lesson 7 — Rotated + Translated Triangle (Transform Matrices)</a></li>
      <li><a href="/lessons/C3L8" class="button hover-cyan">Lesson 8 — Scaled Triangle (Transform Matrices)</a></li>
    </ul>
    <h3>Chapter 4 — More transformations and Basic Animation</h3>
    <ul>
      <li><a href="/lessons/C4L1" class="button hover-cyan">Lesson 1 — Using Model Matrix</a></li>
      <li><a href="/lessons/C4L2" class="button hover-cyan">Lesson 2 — RotatingTriangle (Simple animation)</a></li>
    </ul>
    <h3>Chapter 5 — Using Colors and Texture Images</h3>
    <ul>
      <li><a href="/lessons/C5L1" class="button hover-cyan">Lesson 1 — Multi Attributes (Interleaving — Stride / Offset)</a></li>
      <li><a href="/lessons/C5L2" class="button hover-cyan">Lesson 2 — Colored Triangle</a></li>
      <li><a href="/lessons/C5L3" class="button hover-cyan">Lesson 3 — Texture Mapping</a></li>
      <li><a href="/lessons/C5L4" class="button hover-cyan">Lesson 4 — Texture Warping</a></li>
      <li><a href="/lessons/C5L5" class="button hover-cyan">Lesson 5 — Multi Texture</a></li>
    </ul>
    <h3>Chapter 7 — Towards the 3D World</h3>
    <ul>
      <li><a href="/lessons/C7L1" class="button hover-cyan">Lesson 1 — LookAtTriangles — View Matrices</a></li>
      <li><a href="/lessons/C7L2" class="button hover-cyan">Lesson 2 — LookAtTriangles — Model and View Matrices</a></li>
      <li><a href="/lessons/C7L3" class="button hover-cyan">Lesson 3 — LookAtTriangles — ModelViewMatrix</a></li>
      <li><a href="/lessons/C7L4" class="button hover-cyan">Lesson 4 — LookAtTriangles — Eye, Look-at, Up (Move with keys)</a></li>
      <li><a href="/lessons/C7L5" class="button hover-cyan">Lesson 5 — LookAtTriangles — Orthographic Projection Volume (Near, Far)</a></li>
      <li><a href="/lessons/C7L6" class="button hover-cyan">Lesson 6 — LookAtTriangles — ProjectionMatrix (Orthographic) + ModelViewMatrix (Move with keys)</a></li>
      <li><a href="/lessons/C7L7" class="button hover-cyan">Lesson 7 — LookAtTriangles — ProjectionMatrix (Perspective) (Move with keys)</a></li>
      <li><a href="/lessons/C7L9" class="button hover-cyan">Lesson 9 — LookAtTriangles — Depth Buffer (Move with keys)</a></li>
      <li><a href="/lessons/C7L10" class="button hover-cyan">Lesson 10 — LookAtTriangles — Z Fighting</a></li>
      <li><a href="/lessons/C7L11" class="button hover-cyan">Lesson 11 — Hello Cube</a></li>
      <li><a href="/lessons/C7L12" class="button hover-cyan">Lesson 12 — Hello Cube - Multicolored (one color per face = double vertcies)</a></li>
      <li><a href="/lessons/C7L13" class="button hover-cyan">Lesson 13 — Hello Cube - White</a></li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <h1>Book of Shaders</h1>
  <hr>
  <br>
  <h3>Shapes</h3>
  <ul>
    <li><a href="/lessons/bos/circle" class="button hover-cyan">Circle</a></li>
  </ul>

</div>
{% endblock %}
